<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMDBAPI Browser</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div id="header" class="banner">
        <div id="header_top" class="bold">
            <a id="api_link" href="http://www.omdbapi.com/" target="_blank">
                www.omdbapi.com
            </a>
        </div>

        <div id="header_title" class="bold">
            <a href="/">
                OMDBAPI&nbsp;&nbsp;&nbsp;Browser
            </a>
        </div>

        <div id="login" class="banner row">
            <form id="login_form" class="login" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button id="button_login"
                            class="bold column"
                            type="submit">
                    Login
                </button>
            </form>
        </div>
    </div>

    <div id="footer" class="banner bold">
        <div id="footer_text">
            OMDBAPI Browser&nbsp;&nbsp;&nbsp;was developed by:&nbsp;&nbsp;
            <a href="https://stackoverflow.com/users/3081328/hunter-71" target="_blank">
                 Tomasz Zięba&nbsp;&nbsp;[tomasz.zieba.71@gmail.com]
            </a>
        </div>
    </div>
</body>
</html>