html {
    background: white;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    overflow-x:hidden;
}

body {
    background: white;
    font-family: Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

img {
    height: 100px;
    width: 70px;
}

.banner {
    background: #41d0f4;
}

.bold {
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 20px;
}

#button_search {
    font-size: 18px;
    padding: 3px 10px;
}

#header {
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

#footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    text-align: center;
}

#header_top {
    font-size: 12px;
    margin: 6px 10px;
    width: 95%;
    text-align: right;
}

#api_link {
    font-size: 12px;
    z-index: 10;
    position: absolute;
    left: 3%;
    top: 6px;
}

#header_top a, #footer a {
    color: white;
    text-decoration: none;
}

#header_top a:hover, #footer a:hover {
    text-decoration: underline;
}

#header_title {
    background: #ecfafe;
    color: black;
    font-size: 25px;
    padding: 10px;
    width: 100%;
}

#header_title a {
    color: black;
    text-decoration: none;
}

#footer_text {
    color: white;
    font-size: 10px;
    padding: 6px 10px;
    width: 95%;
    text-align: right;
}

#search {
    color: white;
    width: 100%;
    text-align: center;
}

#search input {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 22px;
    padding: 10px;
    margin: 15px 10px;
    width: 600px;
    display: inline-block;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
}

#search button {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1px 10px;
    margin: 15px 10px;
    display: inline-block;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
}

#search button img {
    width: 35px;
    height: 35px;
    margin-top: 4px;
}

#search input:focus, #search button:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

#pagination {
    margin-top: 160px;
    text-align: center;
    color: black;
}

#pagination input {
    background: #ecfafe;
    font-size: 20px;
    padding: 10px;
    margin: 15px 10px;
    width: 60px;
    text-align: right;
    display: inline-block;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
}

#pagination input:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

#pagination a {
    margin: 0px 5px;
}

#pagination a {
    color: black;
    font-size: 18px;
    margin: 0px 5px;
    text-decoration: none;
}

#pagination a:hover {
    text-decoration: underline;
}

#results {
    color: black;
    width: 90%;
    margin: 20px 25px 20px 25px;
}

#results #movie_details {
    font-size: 18px;
    margin: 5px 10px;
    line-height: 1.75;
}

#results #movie_image {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#results #movie_title {
    font-size: 25px;
    margin: 5px 10px 15px 10px;
}

#start_message, #error_message {
    font-size: 22px;
    padding-top: 40px;
    text-align: center;
}
