html {
    background: white;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    overflow-x:hidden;
}

body {
    background: white;
    font-family: Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

li {
    color: red;
    font-weight: bold;
    list-style-type: none;
}

.banner {
    background: #41d0f4;
}

.bold {
    font-weight: bold;
}

#button_login {
    font-size: 18px;
    padding: 3px 10px;
}

#header {
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

#footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    text-align: center;
}

#header_top {
    font-size: 12px;
    margin: 6px 10px;
    width: 95%;
    height: 14px;
    text-align: right;
}

#api_link {
    font-size: 12px;
    z-index: 10;
    position: absolute;
    left: 3%;
    top: 6px;
}

#header_top a, #footer a {
    color: white;
    text-decoration: none;
}

#header_top a:hover, #footer a:hover {
    text-decoration: underline;
}

#header_title {
    background: #ecfafe;
    color: black;
    font-size: 25px;
    padding: 10px;
    width: 100%;
}

#header_title a {
    color: black;
    text-decoration: none;
}

#footer_text {
    color: white;
    font-size: 10px;
    padding: 6px 10px;
    width: 95%;
    text-align: right;
}

#login {
    color: white;
    width: 100%;
    text-align: center;
}

#login input {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 18px;
    padding: 10px;
    margin: 5px 20px;
    width: 400px;
    display: inline-block;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
}

#login button {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 15px;
    font-size: 22px;
    margin-bottom: 20px;
    display: inline-block;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
}

#login input:focus, #login button:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

#home {
    font-size: 22px;
    padding-top: 40px;
    text-align: center;
}
