<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMDBAPI Browser</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div id="header" class="banner">
        <div id="header_top" class="bold">
            <a id="api_link" href="http://www.omdbapi.com/" target="_blank">
                www.omdbapi.com
            </a>

            {% if user.is_authenticated %}
            <span>Welcome {{ user.username }}!</span>&nbsp;&nbsp;&nbsp;
            <a id="logout_link" href="/auth/logout/">
                Logout
            </a>
            {% else %}
            <a id="login_link" href="/auth/login/">
                Login
            </a>
            {% endif %}
        </div>

        <div id="header_title" class="bold">
            <a href="/">
                OMDBAPI&nbsp;&nbsp;&nbsp;Browser
            </a>
        </div>

        <div id="search" class="banner row">
            <form id="search_form" action="/" method="POST">
                {% csrf_token %}

                <input id="input_search_text"
                       type="text"
                       maxlength="255"
                       name="search_text"
                       placeholder="Which movie are you looking for? ..."
                       value="{{ search_text }}"
                />
                <button id="button_search"
                        class="bold column"
                        type="submit">
                    <img src="{% static 'img/search.png' %}"/>
                </button>
            </form>
        </div>
    </div>

    <div id="pagination" class="bold">
    {% if movies %}
        {% if pagination.previous_page %}
        <a href="page?search_text={{ search_text }}&page={{ pagination.previous_page }}">&laquo;</a>
        {% endif %}

        {% for i in pagination.range %}
        {% if i == pagination.current %}
        <input id="input_page"
               class="bold"
               type="number"
               min="1"
               max="100"
               name="page"
               value="{{ page }}"
               disabled
        />
        {% else %}
        <a href="page?search_text={{ search_text }}&page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}

        {% if pagination.next_page %}
        <a href="page?search_text={{ search_text }}&page={{ pagination.next_page }}">&raquo;</a>
        {% endif %}
    {% endif %}
    </div>

    <div id="results">
        {% if movies %}
        {% for movie in movies %}
        <div id="movie_image">
            {% if movie.Poster == "N/A" %}
             <a href="{% static 'img/default_movie.png' %}">
                 <img src="{% static 'img/default_movie.png' %}"/>
             </a>
            {% else %}
             <a href="{{ movie.Poster }}">
                 <img src="{{ movie.Poster }}"
                      onerror="this.src='{% static 'img/default_movie.png' %}';"
                 />
             </a>
            {% endif %}
        </div>
        <div id="movie_title" class="bold">
            {{ movie.Title }}
        </div>
        <div id="movie_details">
            Type: <span class="bold">{{ movie.Type }}</span>
            <br/>
            Year: <span class="bold">{{ movie.Year }}</span>
        </div>

        <br/>
        {% endfor %}

        {% elif search_text %}
        <div id="error_message" class="error bold">
            There is no movie title with phrase: {{ search_text }}
        </div>
        {% else %}
        <div id="start_message" class="bold">
            Start searchig movies with OMDBAPI Browser...
        </div>
        {% endif %}
    </div>

    <div id="footer" class="banner bold">
        <div id="footer_text">
            OMDBAPI Browser&nbsp;&nbsp;&nbsp;was developed by:&nbsp;&nbsp;
            <a href="https://stackoverflow.com/users/3081328/hunter-71" target="_blank">
                 Tomasz Zięba&nbsp;&nbsp;[tomasz.zieba.71@gmail.com]
            </a>
        </div>
    </div>
</body>
</html>